header{
    width: 100%;
    height: 140px;
    background:linear-gradient(to bottom,rgba(126, 54, 27, 1) 0%,rgba(20, 20, 20, 1) 100%);
    align-items: center;
}

header img{
  width: 7%;
  margin: auto;
  margin-top: 20px;
}
header a{

}

body{
    margin: 0px;
    background-color: rgba(20, 20, 20, 1);
}

a{
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;

}



/* Header/menu styles*/
.menu{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
  line-height: 2rem;
}
.menu > li{
  flex: 1;
  text-align: center;
  font-size: 1.6rem;
}

.logo{
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

/* main styles*/
.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.video{
  background: white;
  min-height: 300px;
  height: 40vh;
}


@media (min-width: 500px) and (max-width: 1000px)  {
  header{
    display: block;
    min-height: 7rem;
    align-items: center;
  }
  .logo{
    flex: 2;
  }
  nav{
    flex: 4;
  }
  .menu > li {
    font-size: 1.8rem;
  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 2rem;
    gap: 2rem;
  }
  .video{
    height: 35vh;
  }


}

@media (min-width:1001px){
  header{
    display: flex;
    min-height: 10rem;
    align-items: center;
    justify-content: space-around;
  }
  .logo{
    flex: 2;
  }
  nav{
    flex: 4;
  }
  .menu > li {
    font-size: 2rem;
  }
  main{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;

  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 3rem;
  }
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  align-items: center;
  text-align: center;
}

.footer img{
  margin: auto;
  padding-top: 10px;
  width: 70px;
  display: block;
}

.footer a{
  display:inline-table;
  align-items: center;
  font-size: 12px;
  margin: 20px;
  color: #606060;
}
