<<<<<<< HEAD
header{
    width: 100%;
    height: 140px;
    background:linear-gradient(to bottom,rgba(126, 54, 27, 1) 0%,rgba(20, 20, 20, 1) 100%);
    align-items: center;
    /*position:fixed;*/
}
=======
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c

/*Syles gerais*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body{
  background-color: rgba(20, 20, 20, 1);
  font-family: 'Roboto', sans-serif;
}
header{
display: block;
background:linear-gradient(to bottom,rgba(126, 54, 27, 1) 0%,rgba(20, 20, 20, 1) 100%);
}
nav{
  width: 100%;
}

<<<<<<< HEAD
.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  padding: 1rem;

}

.video{
  background: url("https://m.media-amazon.com/images/M/MV5BMjUxMDQwNjcyNl5BMl5BanBnXkFtZTgwNzcwMzc0MTI@._V1_.jpg"); /*apenas por exemplo*/
  background-size: cover;
  background-position: center;
  min-height: 300px;
  height: 20vh;
}

.video:hover{

  box-shadow: 0px 0px 5px 5px #0ff;

}


.topico{
=======
/* Header/menu styles*/
.menu{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
  line-height: 2rem;
}
.menu > li{
  flex: 1;
  text-align: center;
  font-size: 1.6rem;
}

.logo{
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

/* main styles*/
.movie-container{
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
<<<<<<< HEAD

.footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  align-items: center;
  text-align: center;
=======
.video{
  background: white;
  min-height: 300px;
  height: 40vh;
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c
}


@media (min-width: 500px) and (max-width: 1000px)  {
  header{
    display: block;
    min-height: 7rem;
    align-items: center;
  }
  .logo{
    flex: 2;
  }
  nav{
    flex: 4;
  }
  .menu > li {
    font-size: 1.8rem;
  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 3rem;
    gap: 2rem;
  }
  .video{
    height: 30vh;
  }

  
}

<<<<<<< HEAD
@media (min-width: 359px) and (max-width: 1000px)  {
  header{

    display: block;
    min-height: 4rem;
    align-items: center;
  }

  .logo{
    flex: 2;
  }

  .video_category{
    font-size: 20px;
  }
=======
@media (min-width:1001px){
  header{
    display: flex;
    min-height: 10rem;
    align-items: center;
    justify-content: space-around;
  }
  .logo{
    flex: 2;
  }
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c
  nav{
    flex: 4;
  }
  .menu > li {
<<<<<<< HEAD
    font-size: 1.8rem;
  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 2rem;
    gap: 2rem;
  }
  .video{
    min-height: 400px;
    height: 60vh;
  }


}
=======
    font-size: 2rem;
  }
  main{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    
  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 3rem;
  }
}
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c
