
/*Syles gerais*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD

=======
html{
  font-size: 62.5%;
}
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c

body{
  background-color: rgba(20, 20, 20, 1);
  font-family: 'Roboto', sans-serif;
}
header{
display: block;
background:linear-gradient(to bottom,rgba(126, 54, 27, 1) 0%,rgba(20, 20, 20, 1) 100%);
}
nav{
  width: 100%;
}

<<<<<<< HEAD
.video{

    width:104px;
    height:182px; /*Esses valores vieram de algum lugar especifico?*/
    background-color:rgba(255, 255, 255, 0.24);
    margin-left: 4px;

}

.video:hover{

   /* width:134px;
    height:190px;
    margin: 0px;*/
    box-shadow: 0px 0px 20px 2px #0ff;
=======
/* Header/menu styles*/
.menu{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
  line-height: 2rem;
}
.menu > li{
  flex: 1;
  text-align: center;
  font-size: 1.6rem;
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c
}

<<<<<<< HEAD
  display:  flex;
  justify-items: center;
  margin: auto;
  width: 100vw;
  
=======
.logo{
  text-align: center;
  color: white;
  font-size: 1.8rem;
>>>>>>> 1741cdc6d6bddcf9547ce967bb80b8e5c9bb461c
}

/* main styles*/
.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.video{
  background: white;
  min-height: 300px;
  height: 40vh;
}


@media (min-width: 500px) and (max-width: 1000px)  {
  header{
    display: block;
    min-height: 7rem;
    align-items: center;
  }
  .logo{
    flex: 2;
  }
  nav{
    flex: 4;
  }
  .menu > li {
    font-size: 1.8rem;
  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 3rem;
    gap: 2rem;
  }
  .video{
    height: 30vh;
  }

  
}

@media (min-width:1001px){
  header{
    display: flex;
    min-height: 10rem;
    align-items: center;
    justify-content: space-around;
  }
  .logo{
    flex: 2;
  }
  nav{
    flex: 4;
  }
  .menu > li {
    font-size: 2rem;
  }
  main{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    
  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 3rem;
  }
}