form{
    background: linear-gradient(180deg, rgba(250, 95, 39, 0.0127388) 0.01%, #7E361B 0.02%, rgba(250, 95, 39, 0.012185) 86.98%);
    width: 562px;
    height: 555px;
    margin:auto;
    padding-top: 45px;
}

label,form,input,button{
    border-radius: 10px;
}
#nome{
    margin-top:0px ;
}
label{
    font-family: "Roboto",sans-serif;
    margin:70px 0px 10px 61px;
    display: block;
    font-size: 20px;
    font-weight: 200;
    color: rgba(250,250,250,46%)
}

input:hover, input:focus, button:hover, button:focus{
    outline: none  !important;
    border-radius: 10px;
    border-width: 1px;
    border-color: #FFFFFF;
}

h1{
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(250,250,250);
    margin: 17px auto;
    width: fit-content;
}
    
input{
    height: 30px;
    color: rgb(250,250,250,46%);
    padding-left: 17px;
    width: 450px;
    background-color: rgb(137,73,50);
    border-width: 0px;
    margin: auto;
    display: block;
    text-align:start
}

#mensage{
    height: 150px;
}
button{
    border-width: 0px;
    margin-left: 430px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(137,73,50);
    color: rgb(250,250,250,0.6)
}


button:hover, button:focus{padding: 9px;}
button:active{font-size: 18px;padding: 10px;}