/*Syles gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 12rem 1fr 10rem;
  row-gap: 1rem;
  background-color: rgba(20, 20, 20, 1);
  font-family: "Roboto", sans-serif;
}
header {
  display: block;
  background: linear-gradient(
    to bottom,
    rgba(126, 54, 27, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );
}

header img {
  width: 20%;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo > img {
  height: 100%;
}

nav {
  width: 100%;
  padding: 2rem;
}

/* Header/menu styles*/
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
  line-height: 2rem;
}
.menu > li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  cursor: pointer;
}

/* main styles*/
.container {
  padding: 1rem;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.video {
  padding: 1rem;
  min-width: 100px;
  max-width: 180px;
}
.poster {
  width: 100%;
  height: 100%;
}
.poster > img {
  width: 100%;
  height: 100%;
}

footer {
  color: white;
}

/* trailer syles */

.trailer-container {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  color: white;
}
.iframe-container {
  width: 100%;
  height: 80%;
}
.iframe-container > iframe {
  width: 100%;
  min-height: 45rem;
}
.info-container {
  padding-inline: 2rem;
}
.info-container > h3 {
  padding-block: 1rem;
  font-size: 1.8rem;
}
.info-container > p {
  font-size: 1.4rem;
  padding-block: 1rem;
}
.info-container > :nth-child(3) {
  text-indent: 1rem;
}

@media (min-width: 768px) {
  @keyframes bounce {
    0%,
    20%,
    60%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  body {
    min-height: 100vh;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-random {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-random > button {
    padding: 20px;
    font-size: 24px;
    line-height: 24px;
    color: white;
    background: #fb4300;
    border: none;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    margin: 0.5rem;
  }
  .btn-random:hover {
    animation: bounce 1s;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }
  .logo > img {
    width: 100%;
    height: 100%;
  }
  nav {
    width: 50%;
    margin-inline: 3rem;
  }
  .menu > li {
    font-size: 3rem;
    padding-inline: 1rem;
  }
  main {
    max-width: 1400px;
    margin: 0 auto;
  }

  section {
    color: white;
    font-size: 1.5rem;
  }
  section > h1 {
    padding-left: 3rem;
  }
  .movie-container {
    display: flex;
    flex-wrap: wrap;
  }
  .video:hover {
    transform: scale(1.2);
  }
  .poster {
    width: 100%;
    height: 100%;
  }
  .poster > img {
    width: 100%;
    height: 100%;
  }

  .trailer-container {
    width: 100%;
    padding: 1rem;
    display: flex;
  }
  .iframe-container {
    width: 100%;
    margin: 0 auto;
    flex: 2;
  }
  .iframe-container > iframe {
    width: 100%;
    min-width: 40rem;
    height: 40rem;
  }
  .info-container {
    padding-inline: 2rem;
    flex: 1;
  }
  .info-container > h3 {
    padding-block: 1rem;
    font-size: 1.8rem;
  }
  .info-container > p {
    padding-block: 1rem;
  }

  .info-container > :nth-child(3) {
    text-indent: 1rem;
  }
}

.footer {
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  background-color: #333333;
  color: white;
  align-items: center;
  text-align: center;
}

.footer img {
  margin: auto;
  padding-top: 10px;
  width: 70px;
  display: block;
}

.footer a {
  cursor: pointer;
  display: inline-table;
  align-items: center;
  font-size: 12px;
  margin: 20px;
  color: #606060;
}

/*para squad*/

.nossocontainer img {
  float: left;
  width: 50%;
  position: relative;
  top: 50px;
}

.participantescontainer h1 {
  margin-bottom: 5px;
  color: white;
  font-size: 2.5em;
}

.participantescontainer a {
  margin: 50px;
  color: white;
  text-decoration: none;
  font-size: 1em;
}
.participantescontainer a:hover {
  color: orange;
  text-decoration: none;
}

.membro {
  margin-top: 10px;
  color: rgb(126, 54, 27);
  font-size: 1.2em;
}

.participantescontainer img {
  float: right;
  position: relative;
}
.participantescontainer {
  display: grid;
  padding-left: 30px;
}
