/*Syles gerais*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body{
  display: grid;
  grid-template-rows: 12rem 1fr 10rem;
  row-gap: 3rem;
  background-color: rgba(20, 20, 20, 1);
  font-family: 'Roboto', sans-serif;
}
header{
display: block;
background:linear-gradient(to bottom,rgba(126, 54, 27, 1) 0%,rgba(20, 20, 20, 1) 100%);
}

header img{
  width: 20%;
  margin: auto;
  margin-top:20px;
  margin-bottom: 20px;
}
/*
a{
  cursor: pointer;
}

a:hover{
  color: rgb(146, 146, 146);
  transition: 0.5s;
} */
.logo{
  display: flex;
  justify-content: center;
  margin-inline: 2rem;
}
.logo > img {
  height: 100%;
}

nav{
  width: 100%;
  height: 100%;
}

/* Header/menu styles*/
.menu{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
  line-height: 2rem;

}
.menu > li{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.2rem;
  cursor: pointer;
}



/* main styles*/
.container{
  margin-top: 2rem;
}
section{
  color: white;
  font-size: 1.5rem;
}
section > h1 {
  padding-left: 3rem;
}
.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.video{
  color: white;
  display: grid;
  grid-template-rows: 1fr 50px;
}
.poster{
  width: 100%;
  height: 90%;
}
.poster > img {
  width: 100%;
  height: 100%;
}
.info-hidden{
  padding: 1rem;
  font-size: 1.2rem;
  visibility: hidden;
}

.info-visi{
  padding: 1rem;
  font-size: 1.2rem;
}
.info > h1{
  padding: 1rem;
}

footer{
  color: white;
}


@media (min-width:768px){
  header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }
  .logo > img{
    width: 100%;
    height: 100%;
  }
  nav{
    width: 50%;
  }
  .menu > li {
    font-size: 3rem;
  }
  main{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;

  }

  section{
    color: white;
    font-size: 1.5rem;
  }
  section > h1 {
    padding-left: 3rem;
  }
  .movie-container{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 3rem;
  }

  .video{
    color: white;
    display: grid;
    grid-template-rows: 1fr 8rem;
  }
  .video:hover{
    transform: scale(1.1);
  }
  .poster{
    width: 100%;
    height: 100%;
  }
  .poster > img {
    width: 100%;
    height: 100%;
  }
  .info-hidden{
    padding: 1rem;
    font-size: 1.2rem;
    visibility: hidden;
  }

  .info-visi{
    padding: 1rem;
    font-size: 1.2rem;
  }
  .info > h1{
    padding: 1rem;
  }
}

.footer{
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  background-color: #333333;
  color: white;
  align-items: center;
  text-align: center;
}

.footer img{
  margin: auto;
  padding-top: 10px;
  width: 70px;
  display: block;
}

.footer a{
  cursor: pointer;
  display:inline-table;
  align-items: center;
  font-size: 12px;
  margin: 20px;
  color: #606060;
}

/*para squad*/

.nossocontainer img{
  float: left;
  width: 50%;
}

.participantescontainer h1{
  margin-bottom: : 5px;
  color:white;
}

.participantescontainer a{
  margin: 50px;
  color:white;
  text-decoration: none;
}
.participantescontainer a:hover{
  color:orange;
  text-decoration: none;

}

.membro {
  margin-top: 10px;
  color:rgb(126, 54, 27);
}

.participantescontainer img{
  float: right;
}
