/*Syles gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  display: grid;
  min-height: 100vh;
  row-gap: 1rem;
  background-color: rgba(20, 20, 20, 1);
  font-family: "Roboto", sans-serif;
  background: #fffafa;
  color: black;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem;
  background: #fb4300;
}

.logo {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
}
.logo > img {
  width: 20%;
}

nav {
  height: 100%;
  grid-column: 1/3;
  margin-bottom: 1rem;
}
.btn-random {
  display: flex;
  grid-column: 3/4;
  align-items: center;
  justify-content: center;
}

.btn-random > button {
  padding: 0.5rem;
  font-size: 2rem;
  color: #fb4300;
  background: #fffafa;
  border: none;
  border-radius: 1rem;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}

/* Header/menu styles*/
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
}
.menu > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  cursor: pointer;
}

/* main styles*/
.container {
  margin: 0 auto;
}
.container > section {
  margin-bottom: 2rem;
}
.container h2 {
  padding-inline: 3rem;
}
.movie-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(100px, 400px));
  padding: 1rem;
}

.video {
  padding: 1rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.poster {
  width: 100%;
  height: 100%;
}
.poster > img {
  width: 100%;
  height: 100%;
}

footer {
  color: white;
}

/* trailer syles */

.trailer-container {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
}
.iframe-container {
  width: 100%;
  height: 80%;
}
.iframe-container > iframe {
  width: 100%;
  min-height: 45rem;
}
.info-container {
  padding-inline: 2rem;
}
.info-container > h3 {
  padding-block: 1rem;
  font-size: 1.8rem;
}
.info-container > p {
  font-size: 1.4rem;
  padding-block: 1rem;
}
.info-container > :nth-child(3) {
  text-indent: 1rem;
}

@media (min-width: 768px) {
  @keyframes bounce {
    0%,
    20%,
    60%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10rem 1fr 10rem;
  }
  header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #fb4300;
  }

  .btn-random {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-random > button {
    padding: 1.5rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fb4300;
    background: #fffafa;
    border: none;
    border-radius: 1rem;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
  }
  .btn-random:hover {
    animation: bounce 1s;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
  }
  .logo > img {
    width: 100%;
    height: 100%;
  }
  nav {
    width: 100%;
    margin-inline: 3rem;
  }
  .menu {
    width: 40%;
  }
  .menu > li {
    font-size: 3rem;
    padding-inline: 1rem;
  }
  .container {
    font-size: 1.8rem;
    overflow: hidden;
  }
  .container > section {
    margin-bottom: 2rem;
    width: 768px;
    height: 50%;
    position: relative;
  }

  .containerF {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .movie-containerF {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 2rem;
  }

  .movie-container {
    display: grid;
    position: absolute;
    gap: 2rem;
    grid-template-columns: repeat(10, minmax(150px, 250px));
    margin-left: 0;
  }

  .btn {
    position: absolute;
    top: 5rem;
    height: 20rem;
    width: 3rem;
    background: rgba(251, 67, 0, 0.6);
    z-index: 10;
    border: none;
    border-radius: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  .btnL {
    background-image: url("../public/nextL.png");
    left: 0;
  }

  .btnR {
    background-image: url("../public/nextR.png");
    right: 0;
  }
  .video {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  .video:hover {
    transform: scale(1.2);
    z-index: 100;
  }
  .poster {
    width: 100%;
    height: 100%;
  }
  .poster > img {
    width: 100%;
    height: 100%;
  }

  section.trailer-container {
    width: 100%;
    padding: 1rem;
    display: flex;
  }
  .iframe-container {
    width: 100%;
    margin: 0 auto;
    flex: 2;
  }
  .iframe-container > iframe {
    width: 100%;
    min-width: 40rem;
    height: 40rem;
  }
  .info-container {
    padding-inline: 2rem;
    flex: 1;
  }
  .info-container > h3 {
    padding-block: 1rem;
    font-size: 1.8rem;
  }
  .info-container > p {
    padding-block: 1rem;
  }

  .info-container > :nth-child(3) {
    text-indent: 1rem;
  }
}

.footer {
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  background-color: #333333;
  color: white;
  align-items: center;
  text-align: center;
}

.footer img {
  margin: 1rem auto;
  width: 3rem;
  display: block;
}

.footer a {
  cursor: pointer;
  display: inline-table;
  align-items: center;
  font-size: 12px;
  margin: 20px;
  color: #606060;
}

/*para squad*/

.nossocontainer {
  width: auto;
  font-size: 1.8rem;
}

.nossocontainer img {
  width: 50%;
  /*position: relative;*/
  top: 50px;
}

.participantescontainer h1 {
  margin-bottom: 5px;
  color: black;
  font-size: 2.5em;
}

.participantescontainer a {
  margin: 50px;
  color: darkgray;
  text-decoration: none;
  font-size: 1em;
}
.participantescontainer a:hover {
  color: orange;
  text-decoration: none;
}

.membro {
  margin-top: 10px;
  color: rgb(126, 54, 27);
  font-size: 1.2em;
}

.participantescontainer img {
  float: right;
  position: relative;
}
.participantescontainer {
  display: grid;
  padding-left: 30px;
}
